@model LancheListViewModel

<!-- 
    ViewData (um pouco mais rápida)
    O tempo de vida do viewData é o request
    Após um redirect os valores são perdidos

    ViewBag (mais usada)
    Transfere do Controller para View, objeto que armazena dados chave/valor
    Não requer conversão de tipos (Tempo de vida = Request)

    TempData
    Transfere dados para:
        Controller para View
        View para Controller
        Método Action para outro método Action do mesmo controlador ou de outro controller 
        É um dicionário TempDataDictionary chave/valor
        Tempo de vida é temporário e remove os dados automaticamente após a recuperação do valor.
        Exige conversão de tipos
-->
<div>
    @* <h2>@ViewData["Titulo"]</h2> *@
    <h2>@Model.CategoriaAtual</h2>
</div>
@* <h2>@ViewData["Data"]</h2>
<hr />
<h3>@ViewBag.Total @ViewBag.TotalLanches</h3>
<hr />

<h3>@TempData["Nome"]</h3>
 *@

<div class="container">
    <div class="row">
        @foreach(var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
</div>

